<div class="outer">
    <div class="inner">
        <mat-card>
            <!-- <mat-card-header>
                <div mat-card-image style="background-image: url('/assets/images/Mika.jpg');
            background-size: cover;"></div>
                <mat-card-title>Mika</mat-card-title>
                <mat-card-subtitle>Kely</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content> -->
            <div class="about">
                <img src="/assets/images/Mika.jpg" alt="">
                <div class="right">
                    <p class="username">RA-MICHAEL</p>
                    <div class="stats">
                        <p>{{ nbFavorite }} enregistrements</p>
                        <p>{{ nbPost }} publications</p>
                    </div>
                    <p class="nom">RASOLOARISON Ambinintsoa Michaël IMTICIA 5</p>
                </div>
            </div>
        </mat-card>
        <app-submenu></app-submenu>
    </div>
</div>