@font-face {
  font-family: "Billabong";
  src: url("/assets/fonts/billabong.ttf") format(truetype);
}

.navbar {
  padding: 0 80px 0 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  position: -webkit-fixed;
  top: 0;
  z-index: 2;
  background: #fff;
  box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 1);
}

.title {
  font-family: Billabong;
  font-size: 45px;
}

span {
  margin-right: 1rem;
}

.router-link-active {
  color: #e6683c;
}
