.comment-form {
  width: 100%;
}

.comment-full-width {
  width: 100%;
}

.comment-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: -10px;
}

.stickers {
  font-size: 1.75rem;
  margin-right: 20px;
}
